<div class="jumbotron" style="background-color: #0f3057;">
  <div class="row col-md-8 col-md-offset-2 mx-auto">

    <div class="col-md-4">
      <div class="card bg-light border-light mb-3 py-4" style="background-color: #aaaaaa; color: #0f3057;max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">I'm not sure what is this for</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light border-light mb-3 py-4" style="background-color: #aaaaaa; color: #0f3057;max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">I'm not sure what is this for</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light border-light mb-3 py-4" style="background-color: #aaaaaa; color: #0f3057;max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">I'm not sure what is this for</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="jumbotron bg-white">
  <div class="row col-md-6 col-md-offset-3 mx-auto">

    <div class="card text-white bg-primary mb-5" style="max-width: 100rem;">
      <div class="card-header">Issue 1</div>
      <div class="card-body">
        <h4><a class="card-title text-white" href="/issue/1">Issue Title One</a></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card text-white bg-primary mb-5" style="max-width: 100rem;">
      <div class="card-header">Issue 2</div>
      <div class="card-body">
        <h4 class="card-title text-white" href="#">Issue Title Two</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card text-white bg-primary mb-5" style="max-width: 100rem;">
      <div class="card-header">Issue 3</div>
      <div class="card-body">
        <h4 class="card-title text-white" href="#">Issue Title Three</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  </div>
</div>
