<div class="jumbotron" style="background-color: #0f3057; color: white;">
  <div class="row col-md-6 col-md-offset-3 mx-auto">

    <div class="card mb-3 w-75 border-light" style="max-width: 100rem; background-color: #0f3057;">
      <div class="card-body">
        <h4 class="card-title"><%= @new_issue.title%></h4>
        <p class="card-text">Section <%= @new_issue.section%></p>
        <p class="card-text"><%= @new_issue.description%></p>
      </div>
    </div>

  </div>
</div>
