<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Register</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <form action="/auth/register" method="post" id="form-register">
          <fieldset>
          <%# 可以用if else 判斷現在要呈現哪種form %>
          <%# 有form with username ane email 跟 form with password and confirmed_password的 %>
          <%# 建另一個erb 用render的方式跑出不同的form %>
          <%# 可以在controller裡面傳一個物件(Account之類的)來判斷現在要render哪一種form %>
            <div class="form-group">
              <label for="InputUserName" class="font-weight-bold">User Name</label>
              <input name="username" class="form-control" id="InputUserName"
                     aria-describedby="userNameHelp" placeholder="User name for login">
              <small id="userNameHelp" class="form-text text-muted">
                User name will be used for login.
              </small>

              <label for="InputEmail" class="font-weight-bold">Email</label>
              <input name="email" class="form-control"
                     id="InputEmail" placeholder="Your email address">

              <label for="InputPassword" class="font-weight-bold">Password</label>
              <input name="password" type="password" class="form-control"
                     id="exampleInputPassword" placeholder="Your password">
            </div>
          </fieldset>
        </form>

        <div class="bs-component">
          <button type="submit" class="btn btn-secondary"
                  form="form-register" id="button-register"> SUBMIT </button>
        </div>
      </div>
    </div>
  </div>
</div>
