<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Register</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <form action="/auth/register" method="post" id="form-emailing">
          <fieldset>
            <div class="form-group">
              <label for="inputUserName" class="font-weight-bold">User Name</label>
              <input name="username" class="form-control" id="inputUserName"
                     aria-describedby="userNameHelp" placeholder="User name for login">
              <small id="userNameHelp" class="form-text text-muted">
                User name will be used for login.
              </small>

              <label for="inputEmail" class="font-weight-bold">Email</label>
              <input name="email" class="form-control"
                     id="inputEmail" placeholder="Your email address">
            </div>
          </fieldset>
        </form>

        <div class="bs-component">
          <button type="submit" class="btn"
                  form="form-emailing" id="button-register"> VERIFY </button>
        </div>
      </div>
    </div>
  </div>
</div>
