.btn {
  font-weight: bold;
  color: white;
  background-color: #888;
}

.card {
  background-color: #888;
  max-width: 20rem;
}

#footer {
  padding-left: 5%;
}

.h1 {
  color: #4e413b;
}
